@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inika:wght@400;700&family=Pathway+Gothic+One&family=Reggae+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Fira Sans Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

.login h1 {
    margin-top: 130px;
    font-size: 100px;
}

.login input {
  margin-top: 30px;
  max-width: 500px;
  width: 70%;
  height: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 30px;
  background-color: rgba(217, 217, 217, 1);
}

.button_login{
  margin-top: 30px;
  max-width: 300px;
  width: 70%;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: rgba(217, 217, 217, 1);
  font-size: 30px;
}

.login a {
  margin-left: 5px;
}

.register h1 {
  margin-top: 130px;
  font-size: 100px;
}

.register input {
margin-top: 30px;
max-width: 500px;
width: 70%;
height: 50px;
border-radius: 50px;
border: none;
outline: none;
font-size: 30px;
background-color: rgba(217, 217, 217, 1);
}

.button_register{
margin-top: 30px;
max-width: 200px;
width: 70%;
height: 50px;
border-radius: 50px;
font-size: 20px;
border: none;
outline: none;
background-color: rgba(217, 217, 217, 1);
font-size: 30px;
}

.register a {
margin-left: 5px;
}

